<p>I am a technology enthusiast, studying and writing about all things related to tech. In most of my blog posts, I write about my adventures in exploring various technologies, covering hardware, operating systems, software, encryption, cloud, and some of my experiences in real life. I even have a tab for anime, because I want to share my reviews with the world!</p>

<h3>Mentors</h3>

While this is a personal blog, I generally do not like to disclose my identity due to privacy concerns. Therefore, as contradictory as this might seem, I would like to specially thank a few people for guiding me through some adventures. These people are:

{% include people.html %}

<p>If you like this blog, please bookmark :bookmark: and share this with your friends. There are many more exciting things I want to write about, so do check back often!</p>
