<div class="bg-white border p-3 d-flex flex-column flex-md-row flex-md-items-center mb-3 rounded-1">
		<div class="pr-0 pr-md-3 mb-3 mb-md-0 d-flex flex-justify-between flex-items-start height-full"> 
			<img style="margin: 0 auto; min-width: 175px;" src="{{ post.image }}"/>
		</div>
		<div class="d-block text-left">
			{% include anime-info.html %}
			<p><div class="text-gray">{{ post.excerpt }}</div></p>
			<a href="{{ site.baseurl }}{{ post.url }}">Read more {% octicon chevron-right height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label: "Read More" %}</a>
		</div>
</div>
