<nav class="UnderlineNavi container-md"> 
  <div class="UnderlineNav-body" style="display: block">
    <a href="/" role="tab" title="Home" class="UnderlineNav-item {% if page.pagination.collection == 'posts' %}selected{% endif %}">Home</a>
    <a href="/anime" role="tab" title="Anime" class="UnderlineNav-item {%if page.pagination.collection == 'anime' %}selected{% endif %}">Anime</a>
    <a href="/about" role="tab" title="About" class="UnderlineNav-item {%if page.layout == 'about' %}selected{% endif %}">About</a>
  </div>
</nav>
