@import url("https://unpkg.com/primer/build/build.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");
.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sa { color: #000000; font-weight: bold; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s, .highlight .dl { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf, .highlight .fm { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv, .highlight .vm { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }

@media (prefers-color-scheme: dark) { .highlight table td { padding: 5px; } .highlight table pre { margin: 0; } .highlight .gh { color: #999999; } .highlight .sr { color: #f6aa11; } .highlight .go { color: #888888; } .highlight .gp { color: #555555; } .highlight .gu { color: #aaaaaa; } .highlight .nb { color: #f6aa11; } .highlight .cm { color: #75715e; } .highlight .cp { color: #75715e; } .highlight .c1 { color: #75715e; } .highlight .cs { color: #75715e; } .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf { color: #75715e; } .highlight .err { color: #960050; } .highlight .gr { color: #960050; } .highlight .gt { color: #960050; } .highlight .gd { color: #49483e; } .highlight .gi { color: #49483e; } .highlight .ge { color: #49483e; } .highlight .kc { color: #66d9ef; } .highlight .kd { color: #66d9ef; } .highlight .kr { color: #66d9ef; } .highlight .no { color: #66d9ef; } .highlight .kt { color: #66d9ef; } .highlight .mf { color: #ae81ff; } .highlight .mh { color: #ae81ff; } .highlight .il { color: #ae81ff; } .highlight .mi { color: #ae81ff; } .highlight .mo { color: #ae81ff; } .highlight .m, .highlight .mb, .highlight .mx { color: #ae81ff; } .highlight .sc { color: #ae81ff; } .highlight .se { color: #ae81ff; } .highlight .ss { color: #ae81ff; } .highlight .sd { color: #e6db74; } .highlight .s2 { color: #e6db74; } .highlight .sb { color: #e6db74; } .highlight .sh { color: #e6db74; } .highlight .si { color: #e6db74; } .highlight .sx { color: #e6db74; } .highlight .s1 { color: #e6db74; } .highlight .s, .highlight .sa, .highlight .dl { color: #e6db74; } .highlight .na { color: #a6e22e; } .highlight .nc { color: #a6e22e; } .highlight .nd { color: #a6e22e; } .highlight .ne { color: #a6e22e; } .highlight .nf, .highlight .fm { color: #a6e22e; } .highlight .vc { color: #ffffff; background-color: #272822; } .highlight .nn { color: #ffffff; background-color: #272822; } .highlight .nl { color: #ffffff; background-color: #272822; } .highlight .ni { color: #ffffff; background-color: #272822; } .highlight .bp { color: #ffffff; background-color: #272822; } .highlight .vg { color: #ffffff; background-color: #272822; } .highlight .vi { color: #ffffff; background-color: #272822; } .highlight .nv, .highlight .vm { color: #ffffff; background-color: #272822; } .highlight .w { color: #ffffff; background-color: #272822; } .highlight { color: #ffffff; background-color: #272822; } .highlight .n, .highlight .py, .highlight .nx { color: #ffffff; background-color: #272822; } .highlight .ow { color: #f92672; } .highlight .nt { color: #f92672; } .highlight .k, .highlight .kv { color: #f92672; } .highlight .kn { color: #f92672; } .highlight .kp { color: #f92672; } .highlight .o { color: #f92672; } }

body { font-family: 'Rubik', sans-serif; background: #eeedde; }

img { max-width: 100%; height: auto; border-radius: 8px; }

div.highlight { margin-top: 16px; margin-bottom: 12px; }

code, pre { font-family: 'Roboto Mono', monospace; font-size: 16px; }

pre { background: #f8f8f8; border: 1px solid #ddd; padding: 1em; margin-bottom: 10px; overflow-x: auto; vertical-align: text-bottom; }

code { background: #f8f8f8; border: 1px solid #ddd; padding: .2em .4em; font-size: 80%; word-break: break-word; }

pre code { background: transparent; border: 0; padding: 0; font-size: 80%; }

.repo-language-color { filter: brightness(125%) !important; border-radius: 50%; display: inline-block; height: 12px; position: relative; top: 2px; width: 12px; }

img + em { display: block; color: #555; font-size: 0.85em; text-align: center; margin-top: 6px; }

a + em { display: block; color: #555; font-size: 0.85em; text-align: center; margin-top: 6px; }

ol, ul { margin-left: 30px; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px; }

li { margin-bottom: 5px; }

ul.list-style-none { padding-left: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important; }

.github-component { font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important; }

.repo-language-color { filter: brightness(125%) !important; border-radius: 50%; display: inline-block; height: 12px; position: relative; top: 2px; width: 12px; }

.article h1, .article h2, .article h3, .article h4 { margin-bottom: 16px; }

.article blockquote { color: #6a737d; border-left: 2px solid #959da5; padding-left: 16px; }

.UnderlineNav-item.selected { border-bottom-color: #000000; }

table { margin: 5px auto; padding: 2px; border: 2px solid lightgrey; width: 100%; }

th, td { border: 2px solid grey; }

tr:nth-child(even) { background-color: lightgrey; }

@media (prefers-color-scheme: dark) { body { background: #353935; color: #f9f6ee; } a { color: #8cd2d5; } .text-gray { color: #fffdd0 !important; } .UnderlineNav-item { color: #ffffff; } .UnderlineNav-item.selected { color: #ffffff; border-bottom-color: #ffffff; } .bg-white { background: #36454f !important; } code { background: #191970; } .pagination span, .pagination a { color: #8cd2d5; background: #353935; } .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus { background: #36454f; } }

/*# sourceMappingURL=styles.css.map */