{% include header.html %}

<div class="container-lg pt-6 p-responsive text-center">
    {% include masthead.html metadata=false %}

    <div class="container-md box-shadow p-3 f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
      <h1 class="f00-light lh-condensed-5">Weaboo Corner
      	<a href="https://myanimelist.net/animelist/jameshi16"><img src="https://i.imgur.com/vEy5Zaq.jpg" title="MyAnimeList profile" style="max-width: 40px; height: 100%"/></a>
      </h1>
      <h2 class="f3-light lh-condensed-5 mb-5 text-gray">I like anime, and review them too!</h2>
      {% include animes.html %}
    </div>
</div>

{% include footer.html %}
